/* Google Fonts-Font Face */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    width:100%;
    background-color:#4a3123 ;
    font-size:16px;
}

header { 
    background-image: url(background.jpg);
    height:500px;
    width:100%;
    background-repeat: no-repeat;
    background-position-y:center;
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 5.625rem;
    left: 34%;
    top: 47%;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    color:#602f2f;
    filter: drop-shadow(4px 4px 4px black)
}

h2 {
    font-size:1.5625rem;
    margin-left:3%;
    color:#dd9e79;
    text-shadow:2px 2px 2px black;
    font-family: 'Press Start 2P', cursive;
}

h3 {
    font-size:1.375rem;
    font-family: monospace; 
}

p {
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

/* GRID-FLOATS */
#grid-floats {
    box-sizing: border-box;
    float: left;
    width:100%;
}

#grid-floats li {
    float:left;
    width:23%;
    margin: 1%;
    border: 5px solid #dd9e79;
    box-sizing: border-box;
    list-style-type: none;
    height:500px;
    padding: 2%;
    text-align:center;
    border-radius: 3%;
    filter: drop-shadow(3px 3px 3px#dd9e79);
    background-color: white;  
    overflow: auto;
    color:#602f2f;
    transition-property: background-color, color, border-radius;
    transition-duration: 1s,1s,1s;
    transition-timing-function: ease-in;
}

#grid-floats li:hover {
    background-color:#dd9e79;  
    color:white;
    border-radius: 20%;   
}

#grid-floats img {
    width:75%;
}

/* FLEXBOX */
#grid-flex {
    box-sizing: border-box;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#grid-flex li {
    width:23%;
    border: 5px solid #dd9e79;
    box-sizing: border-box;
    list-style-type: none;
    margin:1%;
    padding:2%;
    text-align:center;
    border-radius: 3%;
    filter: drop-shadow(3px 3px 3px#dd9e79);
    background-color: white;  
    overflow: auto;
    color:#602f2f;
    transition-property: background-color, color, border-radius;
    transition-duration: 1s,1s,1s;
    transition-timing-function: ease-in;
}

#grid-flex li:hover {
    background-color:#dd9e79;  
    color:white;
    border-radius: 20%;  
}

#grid-flex img {
    width:75%;
}

/* MEDIA QUERIES */
/* For Desktop */
@media (min-width: 1024px) {
    /* grid-floats */
    #grid-floats li:first-child {
        width:48%;
        margin:1%;
    }

    #grid-floats li:first-child img {
        width:60%;
    }

    #grid-floats {
        padding:1%;
    }

    /* grid-flex */
    #grid-flex li:first-child {
        width:48%;
    }

    #grid-flex li:first-child img {
        width:60%;
    }

    #grid-flex {
        padding:1%;
    }
}

/* For Phones */
@media (max-width: 600px) {
    header h1{
        font-size: 2.625rem;
        left:23%;
        top:49%;
    }

    h2 {
        font-size: 1rem;
    }

    /* grid-floats */
    #grid-floats li {
        width:98%;
    }
    
    #grid-floats {
        padding:1%;
    }

    /* grid-flex */
    #grid-flex li{ 
        width:98%;
    }

    #grid-flex {
        padding:1%;
    }
}

/* For Tablets */
@media screen and (max-width: 1024px) and (min-width: 600px) {
    header h1 {
        font-size:3.75rem;
        left:30%;
        top:45%;
    }

    /* grid-floats */
    #grid-floats li {
        width:31%;
    }

    #grid-floats li:nth-child(-n + 2) {
        width:48%;
    }

    #grid-floats {
        padding:1%;
    }

    #grid-floats li:hover {
        background-color:#dd9e79;  
        color:white;
        border-radius: 20%;  
    }

    /* grid-flex */
    #grid-flex li {
        width:31%;
    }

    #grid-flex li:nth-child(-n + 2) {
        width:48%;
    }

    #grid-flex {
        padding:1%;
    }
}

@media screen and (max-width:1339px) and (min-width:1023px) {
    header h1 {
        font-size: 5rem;
        left:30%;
        top:43%;
    }

    /* grid-floats */
    #grid-floats {
        padding:1%;
    }

    /* grid-flex */
    #grid-flex {
        padding:1%;
    }
}

